<table>
  <tbody><tr>
    <th>Quarter</th>
    <th>Revenue</th>
  </tr>
  <tr>
    <td>Q1</td>
    <td>10000</td>
  </tr>
  <tr>
    <td>Q2</td>
    <td>$12,000</td>
  </tr>
</tbody></table>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Apple</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Banana</td>
      <td>0.50</td>
    </tr>
  </tbody>
</table>


<table>
  <tbody><tr>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</tbody></table>

<table class="data">
<caption>
Greensprings Running Club Personal Bests
</caption>
    <tr>
     <td scope="col">Name</td>
      <td scope="col">1 mile</td>
      <td scope="col">5 km</td>
      <td scope="col">10 km</td>
    </tr>
  <tbody>
    <tr>
      <td scope="row">Mary</td>
      <td>8:32</td>
      <td>28:04</td>
      <td>1:01:16</td>
    </tr>
    <tr>
      <td scope="row">Betsy</td>
      <td>7:43</td>
      <td>26:47</td>
      <td>55:38</td>
    </tr>
    <tr>
      <td scope="row">Matt</td>
      <td>7:55</td>
      <td>27:29</td>
      <td>57:04</td>
    </tr>
    <tr>
      <td scope="row">Todd</td>
      <td>7:01</td>
      <td>24:21</td>
      <td>50:35</td>
    </tr>
  </tbody>
</table>

Captions fail for cells with more than one table like below:


<!-- Table 1 -->
<table>
  <thead>
    <tr>
      <th id="outside-header">External Header</th>
    </tr>
  </thead>
</table>

<!-- Table 2 -->
<table>
  <thead>
    <tr>
      <th id="name-header">Name</th>
      <th id="age-header">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- Incorrectly referencing a header from Table 1 -->
      <td headers="outside-header">John Doe</td>
      <td headers="age-header">30</td>
    </tr>
  </tbody>
</table>